<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Reddit Clone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
  </div>
</nav>

<main class="container">

  <div class="pull-right">
    <p><a class="btn btn-info" ng-click='$ctrl.setTab(2)' ng-show='$ctrl.isSet(1)'>New Post</a></p>
  </div>
  <div class="pull-right">
    <p><a class="btn btn-info" ng-click='$ctrl.setTab(1)' ng-show='$ctrl.isSet(2)'>View Posts</a></p>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input ng-model='searchBox' type="search" class="form-control input-sm search-form" placeholder="Filter">
    </li>
    <div class="form-inline">
      <label for="sort">  Sort by </label>
      <select ng-model='sortPosts' ng-init='sortPosts = "-votes"'class="form-control" id="sort">
        <option value="-votes">Votes Descending</option>
        <option value="votes">Votes Ascending</option>
        <option value="-createdOn">Date Descending</option>
        <option value="createdOn">Date Ascending</option>
        <option value="-title">Title Descending</option>
        <option value="title">Title Ascending</option>
      </select>
    </div>
  </ul>

  <div class="row">
    <div class="col-md-8">

      <form ng-show='$ctrl.isSet(2)' ng-submit='$ctrl.addPost()'>
        <div>
          <label for="title">Title</label>
          <input ng-model='$ctrl.post.title'id="title" class="form-control" required>
        </div>
        <div>
          <label for="body">Body</label>
          <textarea ng-model='$ctrl.post.body'id="body" class="form-control" required></textarea>
        </div>
        <div>
          <label for="author">Author</label>
          <input ng-model='$ctrl.post.author' id="author" class="form-control" required>
        </div>
        <div>
          <label for="image-url">Image URL</label>
          <input ng-model='$ctrl.post.image' id="image-url" class="form-control" required>
        </div>
        <div class="form-group">
          <button ng-click='$ctrl.setTab(1)' type="submit" class="btn btn-primary">
            Create Post
          </button>
        </div>
      </form>

    </div>
  </div>

  <div class="row" ng-show='$ctrl.isSet(1)'>
    <div class="col-md-12">

      <div class="well" ng-repeat='post in $ctrl.posts | orderBy: sortPosts | filter: {title: searchBox}'>
        <div class="media-left">
          <img ng-src='{{post.image}}' class="media-object">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{post.title}}
            |
            <a><i ng-click='$ctrl.upVote(post)' class="glyphicon glyphicon-arrow-up"></i></a>
            <a><i ng-click='$ctrl.downVote(post)' class="glyphicon glyphicon-arrow-down"></i></a>
            {{post.votes}}
          </h4>
          <div class="text-right">
            {{post.author}}
          </div>
          <p>
            {{post.body}}
          </p>
          <div>
            <div am-time-ago='post.createdOn'></div>
            |
            <i class="glyphicon glyphicon-comment"></i>
            <a ng-click='$ctrl.setShowComments($index)' ng-hide='$ctrl.commentsOn($index)'>
                    <ng-pluralize count="post.comments.length"
                                  when="{'0': 'No comments.',
                       '1': '1 comment.',
                       'other': '{} comments.'}">
                    </ng-pluralize>
                  </a>
                  <a ng-click='$ctrl.setShowComments(-1)' ng-show='$ctrl.commentsOn($index)'>
                    Hide comments
                  </a>
                  <div class="comment" ng-show='$ctrl.commentsOn($index)'>
                  <ul ng-repeat='comment in post.comments'>
                    <li><div>{{comment.text}}  -- {{comment.author}} posted </div><!-- --><div am-time-ago='comment.createdOn'></div></li>
                  </ul>
                  </div>
                </div>
          <div ng-show='$ctrl.commentsOn($index)' class="row">
            <div class="col-md-offset-1">
              <hr>
              <p>
                Add a Comment
              </p>
              <form ng-submit='$ctrl.addComment(post)'class="form-inline">
                <div class="form-group">
                  <label for="commentText">Comment: </label>
                  <input ng-model='$ctrl.newComment.text' class="form-control">
                  <label for="commentAuthor">By: </label>
                  <input ng-model='$ctrl.newComment.author' class="form-control">

                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
