.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}

.ng-dirty.ng-invalid {
  border-color: hsl(0, 60%, 50%);
}

.ng-dirty.ng-valid {
  border-color: hsl(120, 60%, 50%);
}
